@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

#recipe-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 90%;
    padding: 1em;
    margin: 0;
}
#recipe-display h2 {
    font-family: 'Mali', 'cursive', 'sans-serif';
    font-size: 2em;
    margin: 0;
}
.recipe-img-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
}
#recipe-name {
    text-align: center;
    max-width: 70%;
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: .8rem;
}
#recipe-link {
    text-align: center;
    margin-bottom: .8em;
    text-decoration: none;
    color: darkgreen;
    font-size: 1.2rem;
}
#recipe-img {
    max-height: 300px;
    border-radius: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}